/* media */
$media-list: (
  "xxs": 374,
  "xs": 560,
  "sm": 767,
  "md": 1079,
  "lg": 1279,
  "xl": 1599,
  "xxl": 1900,
);

/* шрифты */
$mainFont: "Frutiger", sans-serif;
$secondFont: "Montserrat", sans-serif;

/* цвета */
$mainColor: #005CA3;
$black: #000;
$white: #fff;
$dark-blue: #093A7C;
$blue-link: #005CA3;
$gray: #7D8D99;
$dark-gray: #525C6B;
$light-blue: #77ACD8;
$blue-8c: #8CAED3;
$blue-10: #1082DA;
$blue-marker: #1E9BCF;
$pink: #E5539B;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;